/* =============
    Housing
============= */
#housing {
    section {
        div {
            background-image: url("../img/housing-respon.jpg");
        }
    }

    article {
        padding: 15px;
        @include md {
            padding: 15px 50px;
        }
        @include lg {
            padding: 50px 60px;
        }

        aside {
            margin-left: 15px;
            @include lg {
                margin-left: 0;
            }

            h2 {
                color: $subheading;
                font-family: 'Assistant', sans-serif;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 30px;
                @include lg {
                    margin-top: 60px;
                };
            }

            p {
                margin: 0 40px 0 0;
                @include lg {
                    margin: 0;
                }
            }
        }

        p {
            font-family: 'Heebo', sans-serif;
            font-size: rem-calc(17);
            grid-area: paragraph;
            line-height: rem-calc(23);
            text-align: justify;

            a:link,
            a:visited {
                color: $link-accent;
                font-size: rem-calc(17);
                font-weight: 600;
            }

            a:active,
            a:hover {
                color: $black;
            }
        }
    }

    .button-container {
        background-image: url("../img/housing-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 286px;
        margin-bottom: 90px;
        margin-top: 30px;
        display: grid;
        grid-template-areas: "but-title but-title but-title" ". gb-1 ." ". gb-2 ." ". gb-3 .";
        @include md {
            height: 204px;
            padding: 0 30px;
            margin: 30px 35px 90px;
            grid-template-areas: "but-title but-title but-title but-title but-title" "gb-1 . gb-2 . gb-3";
        }
        @include lg {
            margin: 30px 170px 90px;
        }

        li:first-child {
            color: $white;
            font-family: 'Josefin Sans', sans-serif;
            font-size: rem-calc(30);
            text-align: center;
            grid-area: but-title;
            padding-top: 20px;
            @include sm {
                font-size: rem-calc(35);
            }
            @include md {
                padding-top: 30px;
                font-size: rem-calc(40);
            }
        }

        li:nth-child(2) {
            grid-area: gb-1;
        }

        li:nth-child(3) {
            grid-area: gb-2;
        }

        li:last-child {
            grid-area: gb-3;
        }

        li {
            color: $white;
            font-family: 'Josefin Sans', sans-serif;
            font-size: rem-calc(21);
            grid-area: gb;
            @include sm {
                font-size: rem-calc(30);
            }

            a:link,
            a:visited {
                color: $white;
            }

            a:active,
            a:hover {
                color: $black;
            }
        }
    }
}
